################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GSTINVOICE/v15/Server/sqlite3
/GSTINVOICE/bin/Debug
GSTINVOICE/LoginForm.cs
